.*.swp
*.so
*.a
*.class
.svn/
*.old
*.bak
.ssh/config
id_rsa
id_dsa
.DS_Store
.base_homeshick_vars
.vim/*
!.vim/puppet.vim
.atom/packages/
.atom/storage/
.docker/config.json
.ivy2/*
.npmrc
.pgpass
.jspm/*
.vnc/*
.m2/*
.ant/*
