$include /etc/inputrc
$include /usr/share/readline/inputrc

# for xterm

# "\e[1;9D": backward-word # alt+left
# "\e[1;9C": forward-word # alt+right
"\e[1;5D": backward-word # ctrl+left
"\e[1;5C": forward-word # ctrl+right

# "\e[5D": backward-word
# "\e[5C": forward-word

# disable visible bell in macos
# set bell-style off

$if Bash
  # Completed dir names have a slash appended
  set mark-directories on
  # Completed names which are symlinks to dirs have a slash appended
  set mark-symlinked-directories on
  # colored completions
  set colored-stats on

  # ls -F for completion
  set visible-stats on

  # show completions instead of ringing bell
  set show-all-if-ambiguous on
$endif

# to reload .inputrc: Ctrl+x Ctrl+r
