"*":
  core:
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "0c04b8da-0bc1-48e6-956e-25597b02031e"
  "linter-ui-default":
    panelHeight: 316
  minimap: {}
  "open-terminal-here":
    command: "open -a iTerm.app \"$PWD\""
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
